@import url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo);
.decode-text {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.space {
  display: inline-block;
  width: 10px;
}

.text-animation {
  display: inline-block;
  color: transparent;
  text-transform: uppercase;
}
.text-animation:before {
  content: '';
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #0e182d;
  width: 0;
  height: 1.2em;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.text-animation.state-1:before {
  width: 1px;
}
.text-animation.state-2:before {
  width: .9em;
}
.text-animation.state-3 {
  color: black;
}
.text-animation.state-3:before {
  width: 0;
}

#refresh {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

div {
  font-family: 'Nanum Myeongjo', monospace;
}

body {
  height: 100vh;
  align-items: center;
  display: flex;
}
